
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px rgba(0, 0, 0.1, 0.1);
  padding: 16px;
  /* min-width: 100vw -200px; */
  width: calc(99vw - 255px);
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
}