.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px rgba(0, 0, 0.1, 0.1);
  padding: 16px;
  width: calc(95vw - 200px);
  /* width: 90vw; */
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  position: sticky;
  top: 10px;
  display: flex;
}

.link {
  display: none; /* hidden on all devices */
}

@media screen and (max-width: 575.98px) {
  .link {
    display: block; /* show only on mobile */
  }
}