@import "tailwindcss";

:root {
  --background: #ffffff;
  --cardheight: 100vh;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  font-family: sans-serif, Arial, Helvetica;
  color: black;
  font-size: 16px;
}

.heading1 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.heading2 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.box1 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* height: calc(100vh - 80px); */
  /* margin-left: 10px;
  margin-top: 10px; */
}
