.siderBox {
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  display: flex;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  margin: 6px;
  border-radius: 12px;

}

.title {
  height: 60px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f51b5;
  font-weight: 600;
  border: 1px solid whitesmoke;
  border-width: 0 0 2px 0;
}


.box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 20px);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  position: sticky; /* Or fixed depending on your needs */
  top: 10px;
  left: 0px;
  /* margin-bottom: 30px; */
}


@media screen and (max-width: 575.98px) {
  .box {
    display: none;
  }
}